# Секретные переменные окружения
.env

# Временные файлы аудио и кэш Python
temp_*
__pycache__/
*.pyc

# Локальные папки баз данных Docker (чтобы гигабайты базы не летели в гит)
postgres_data/
qdrant_storage/

# Папки виртуального окружения
venv/
.venv/